<div>
    <div class="container mx-auto h-screen flex justify-center items-center">
        <form class="space-y-2" [formGroup]="formValue" (ngSubmit)="handleAddProduct()">
            <input type="text" formControlName="productName"
                class="border-b-2 border-red-600 focus:outline-none block w-96 p-3" placeholder="Enter product name">

            <input type="number" formControlName="price"
                class="border-b-2 border-red-600 focus:outline-none block w-96 p-3" placeholder="Enter product price">

            <input type="text" formControlName="description"
                class="border-b-2 border-red-600 focus:outline-none block w-96 p-3"
                placeholder="Enter product description">

            <input type="text" formControlName="productImg"
                class="border-b-2 border-red-600 focus:outline-none block w-96 p-3"
                placeholder="Enter product image url">

            <button type="submit" class="bg-red-600 text-white font-semibold w-96 py-2 rounded-sm my-2">ADD</button>
        </form>
    </div>
</div>