<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Email
                </th>
                <th scope="col" class="px-6 py-3">
                    Product Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    status
                </th>
                <th scope="col" class="px-6 py-3">
                    ACTION
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" *ngFor="let item of approvedOrders">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                    {{item.name}}
                </th>
                <td class="px-6 py-4">
                    {{item.email}}
                </td>
                <td class="px-6 py-4">
                    {{item.price}}
                </td>
                <td class="px-6 py-4">
                    {{item.productName}}
                </td>
                <td class="px-6 py-4">
                    {{item.status}}
                </td>
                <td class="px-6 py-4 space-x-3">
                    <button class="px-3 py-2 text-white bg-green-700" (click)="handleShipped(item)">SHIP</button>
                    <button class="px-3 py-2 text-white bg-red-600"
                        (click)="handleDeleteOrder(item._id)">DELETE</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>